
* {font-family:Arial, Helvetica, sans-serif;}

.Dig {margin-left: 150px;
      border-radius: 2px;}

#AIP {height:61px; width:206px;
      float: left;
      border-radius: 2px;}

#jsw {height:76px; width:122px;
      float: right;
      border-radius: 2px;}

p {text-align: center;}
.subtitle {margin-left: 10px;}
.footer {margin-left: 200px;
         opacity: 0.4;}
.button1 {margin: 0px 830px;
      border-radius: 2px;}
.button2 {margin: 0px 830px;
      border-radius: 2px;}
#copyright {float:right;
            margin-top: 850px;
            opacity: 0.2;}
            * {
                  background-color: #222;
                  color: #e6e6e6;
                  border-color: #e6e6e6;
              }
#Light {border-radius: 50px;
        margin-left: 5px;}