* {
  font-family: Arial, Helvetica, sans-serif;
}

.Dig {
  margin-left: 150px;
  border-radius: 2px;
}

#AIP {
  height: 61px;
  width: 206px;
  float: left;
}

#jsw {
  height: 76px;
  width: 122px;
  float: right;
}

p {
  text-align: center;
}

.subtitle {
  margin-left: 20px;
}

.footer {
  opacity: 0.3;
  position: absolute;
  bottom: 0px;
  left: 16px;
  font-size: 18px;
}
.button1 {
  margin: 0px 830px;
}

.button2 {
  margin: 0px 830px;
}

#copyright {
  float: right;
  margin-top: 750px;
  opacity: 0.2;
}

#Dark {
  margin: 30px 50px;
}

body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
}

#mael_mode {
  padding: 200px;
}
